variables:
    IMAGE_NAME: lttn/fresh-food-ecommerce
    IMAGE_TAG: "1.0"

build_image:
    stage: build
    image: docker:29.2.0-rc.1-cli
    services:
        - docker:29.2.0-rc.1-dind
    variables: 
        DOCKER_TLS_CERTDIR: "/certs"
    before_script: 
        - docker login -u $USER_NAME -p $USER_PASS
    script: 
        - docker build -t $IMAGE_NAME:$IMAGE_TAG .
        - docker push $IMAGE_NAME:$IMAGE_TAG